git+https://github.com/BenGardiner/scapy@78a9e74076ac6c4e84f45df9e57f1b44c24adb5e  # branch: j1939_scanning
git+https://github.com/hardbyte/python-can@5fa629a39ab12a20fe77347742d0990912772ad1  # branch: main
python-can[viewer]
pyserial
python-can-candle
RP1210
jupyter
notebook~=7.1.2
ipython~=8.18.1
ipywidgets~=8.1.2
ipyaggrid
numpy
pandas
qgridnext~=2.0.0
z3-solver~=4.13.0.0
bokeh
tabulate
